<?xml version="1.0" encoding="UTF-8"?>
<safecrypto>
	<algorithm name="BLISS-B">
		<roots q="7681" n="256">
			<w>
                <v>1</v>
                <v>7146</v>
                <v>2028</v>
                <v>5722</v>
                <v>3449</v>
                <v>5906</v>
                <v>4862</v>
                <v>2689</v>
                <v>5413</v>
                <v>7463</v>
                <v>1415</v>
                <v>3394</v>
                <v>4607</v>
                <v>856</v>
                <v>2900</v>
                <v>62</v>
                <v>5235</v>
                <v>2840</v>
                <v>1438</v>
                <v>6451</v>
                <v>5165</v>
                <v>1885</v>
                <v>5417</v>
                <v>5323</v>
                <v>1846</v>
                <v>3239</v>
                <v>3041</v>
                <v>1437</v>
                <v>6986</v>
                <v>3137</v>
                <v>3844</v>
                <v>1968</v>
                <v>7098</v>
                <v>4665</v>
                <v>550</v>
                <v>5309</v>
                <v>1655</v>
                <v>5571</v>
                <v>7424</v>
                <v>6918</v>
                <v>1112</v>
                <v>4198</v>
                <v>4603</v>
                <v>2996</v>
                <v>2469</v>
                <v>217</v>
                <v>6801</v>
                <v>2259</v>
                <v>5033</v>
                <v>3376</v>
                <v>6556</v>
                <v>2757</v>
                <v>7438</v>
                <v>7109</v>
                <v>6461</v>
                <v>7496</v>
                <v>6803</v>
                <v>1189</v>
                <v>1408</v>
                <v>7139</v>
                <v>5773</v>
                <v>6888</v>
                <v>1800</v>
                <v>4806</v>
                <v>1925</v>
                <v>7060</v>
                <v>1952</v>
                <v>296</v>
                <v>2941</v>
                <v>1170</v>
                <v>3892</v>
                <v>7012</v>
                <v>4589</v>
                <v>2805</v>
                <v>4801</v>
                <v>4600</v>
                <v>4601</v>
                <v>4066</v>
                <v>6094</v>
                <v>4135</v>
                <v>7584</v>
                <v>5809</v>
                <v>2990</v>
                <v>5679</v>
                <v>3411</v>
                <v>3193</v>
                <v>4608</v>
                <v>321</v>
                <v>4928</v>
                <v>5784</v>
                <v>1003</v>
                <v>1065</v>
                <v>6300</v>
                <v>1459</v>
                <v>2897</v>
                <v>1667</v>
                <v>6832</v>
                <v>1036</v>
                <v>6453</v>
                <v>4095</v>
                <v>5941</v>
                <v>1499</v>
                <v>4540</v>
                <v>5977</v>
                <v>5282</v>
                <v>738</v>
                <v>4582</v>
                <v>6550</v>
                <v>5967</v>
                <v>2951</v>
                <v>3501</v>
                <v>1129</v>
                <v>2784</v>
                <v>674</v>
                <v>417</v>
                <v>7335</v>
                <v>766</v>
                <v>4964</v>
                <v>1886</v>
                <v>4882</v>
                <v>7351</v>
                <v>7568</v>
                <v>6688</v>
                <v>1266</v>
                <v>6299</v>
                <v>1994</v>
                <v>869</v>
                <v>3626</v>
                <v>3383</v>
                <v>2811</v>
                <v>1591</v>
                <v>1406</v>
                <v> 528</v>
                <v>1717</v>
                <v>3125</v>
                <v>2583</v>
                <v> 675</v>
                <v>7563</v>
                <v>1682</v>
                <v>6488</v>
                <v>732</v>
                <v>111</v>
                <v>2063</v>
                <v>2359</v>
                <v>5300</v>
                <v>6470</v>
                <v>2681</v>
                <v>2012</v>
                <v>6601</v>
                <v>1725</v>
                <v>6526</v>
                <v>3445</v>
                <v>365</v>
                <v>4431</v>
                <v>2844</v>
                <v>6979</v>
                <v>6882</v>
                <v>5010</v>
                <v>319</v>
                <v>5998</v>
                <v>1728</v>
                <v>4921</v>
                <v>1848</v>
                <v>2169</v>
                <v>7097</v>
                <v>5200</v>
                <v>6203</v>
                <v>7268</v>
                <v>5887</v>
                <v>7346</v>
                <v>2562</v>
                <v>4229</v>
                <v>3380</v>
                <v>4416</v>
                <v>3188</v>
                <v>7283</v>
                <v>5543</v>
                <v>7042</v>
                <v>3901</v>
                <v>2197</v>
                <v>7479</v>
                <v>536</v>
                <v>5118</v>
                <v>3987</v>
                <v>2273</v>
                <v>5224</v>
                <v>1044</v>
                <v>2173</v>
                <v>4957</v>
                <v>5631</v>
                <v>6048</v>
                <v>5702</v>
                <v>6468</v>
                <v>3751</v>
                <v>5637</v>
                <v>2838</v>
                <v>2508</v>
                <v>2395</v>
                <v>1402</v>
                <v>2668</v>
                <v>1286</v>
                <v>3280</v>
                <v>4149</v>
                <v>94</v>
                <v>3477</v>
                <v>6288</v>
                <v>198</v>
                <v>1604</v>
                <v>2132</v>
                <v>3849</v>
                <v>6974</v>
                <v>1876</v>
                <v>2551</v>
                <v>2433</v>
                <v>4115</v>
                <v>2922</v>
                <v>3654</v>
                <v>3765</v>
                <v>5828</v>
                <v>506</v>
                <v>5806</v>
                <v>4595</v>
                <v>7276</v>
                <v>1607</v>
                <v>527</v>
                <v>2252</v>
                <v>1097</v>
                <v>4542</v>
                <v>4907</v>
                <v>1657</v>
                <v>4501</v>
                <v>3799</v>
                <v>3000</v>
                <v>329</v>
                <v>648</v>
                <v>6646</v>
                <v>693</v>
                <v>5614</v>
                <v>7462</v>
                <v>1950</v>
                <v>1366</v>
                <v>6566</v>
                <v>5088</v>
                <v>4675</v>
                <v>2881</v>
                <v>2546</v>
                <v>5108</v>
                <v>1656</v>
                <v>5036</v>
                <v>1771</v>
                <v>4959</v>
                <v>4561</v>
                <v>2423</v>
                <v>1784</v>
                <v>5685</v>
                <v>201</v>
            </w>
            <r>
                <v>30</v>
                <v>6993</v>
                <v>7073</v>
                <v>2678</v>
                <v>3617</v>
                <v>517</v>
                <v>7602</v>
                <v>3860</v>
                <v>1089</v>
                <v>1141</v>
                <v>4045</v>
                <v>1967</v>
                <v>7633</v>
                <v>2637</v>
                <v>2509</v>
                <v>1860</v>
                <v>3430</v>
                <v>709</v>
                <v>4735</v>
                <v>1505</v>
                <v>1330</v>
                <v>2783</v>
                <v>1209</v>
                <v>6070</v>
                <v>1613</v>
                <v>4998</v>
                <v>6739</v>
                <v>4705</v>
                <v>2193</v>
                <v>1938</v>
                <v>105</v>
                <v>5273</v>
                <v>5553</v>
                <v>1692</v>
                <v>1138</v>
                <v>5650</v>
                <v>3564</v>
                <v>5829</v>
                <v>7652</v>
                <v>153</v>
                <v>2636</v>
                <v>3044</v>
                <v>7513</v>
                <v>5389</v>
                <v>4941</v>
                <v>6510</v>
                <v>4324</v>
                <v>6322</v>
                <v>5051</v>
                <v>1427</v>
                <v>4655</v>
                <v>5900</v>
                <v>391</v>
                <v>5883</v>
                <v>1805</v>
                <v>2131</v>
                <v>4384</v>
                <v>4946</v>
                <v>3835</v>
                <v>6783</v>
                <v>4208</v>
                <v>6934</v>
                <v>233</v>
                <v>5922</v>
                <v>3983</v>
                <v>4413</v>
                <v>4793</v>
                <v>1199</v>
                <v>3739</v>
                <v>4376</v>
                <v>1545</v>
                <v>2973</v>
                <v>7093</v>
                <v>7340</v>
                <v>5772</v>
                <v>7423</v>
                <v>7453</v>
                <v>6765</v>
                <v>6157</v>
                <v>1154</v>
                <v>4771</v>
                <v>5288</v>
                <v>5209</v>
                <v>1388</v>
                <v>2477</v>
                <v>3618</v>
                <v>7663</v>
                <v>1949</v>
                <v>1901</v>
                <v>4538</v>
                <v>7047</v>
                <v>1226</v>
                <v>4656</v>
                <v>5365</v>
                <v>2419</v>
                <v>3924</v>
                <v>5254</v>
                <v>356</v>
                <v>1565</v>
                <v>7635</v>
                <v>1567</v>
                <v>6565</v>
                <v>5623</v>
                <v>2647</v>
                <v>4840</v>
                <v>6778</v>
                <v>6883</v>
                <v>4475</v>
                <v>2347</v>
                <v>4039</v>
                <v>5177</v>
                <v>3146</v>
                <v>6710</v>
                <v>4858</v>
                <v>4829</v>
                <v>4982</v>
                <v>7618</v>
                <v>2981</v>
                <v>2813</v>
                <v>521</v>
                <v>5462</v>
                <v>4291</v>
                <v>934</v>
                <v>7256</v>
                <v>4626</v>
                <v>6053</v>
                <v>3027</v>
                <v>1246</v>
                <v>1637</v>
                <v>7520</v>
                <v>1644</v>
                <v>3775</v>
                <v>478</v>
                <v>5424</v>
                <v>1578</v>
                <v>680</v>
                <v>4888</v>
                <v>4141</v>
                <v>4374</v>
                <v>2615</v>
                <v>6598</v>
                <v>3330</v>
                <v>442</v>
                <v>1641</v>
                <v>5380</v>
                <v>2075</v>
                <v>3620</v>
                <v>6593</v>
                <v>6005</v>
                <v>5664</v>
                <v>3755</v>
                <v>3497</v>
                <v>3269</v>
                <v>2353</v>
                <v>829</v>
                <v>1983</v>
                <v>6754</v>
                <v>4361</v>
                <v>1889</v>
                <v>3277</v>
                <v>5754</v>
                <v>1691</v>
                <v>1673</v>
                <v>3622</v>
                <v>5523</v>
                <v>2380</v>
                <v>1746</v>
                <v>2972</v>
                <v>7628</v>
                <v>5312</v>
                <v>50</v>
                <v>3974</v>
                <v>1547</v>
                <v>1903</v>
                <v>3468</v>
                <v>3422</v>
                <v>4989</v>
                <v>3873</v>
                <v>1815</v>
                <v>4462</v>
                <v>1621</v>
                <v>718</v>
                <v>7601</v>
                <v>4395</v>
                <v>6742</v>
                <v>3100</v>
                <v>596</v>
                <v>3742</v>
                <v>2771</v>
                <v>7629</v>
                <v>4777</v>
                <v>2078</v>
                <v>2015</v>
                <v>4996</v>
                <v>128</v>
                <v>649</v>
                <v>6111</v>
                <v>2721</v>
                <v>3655</v>
                <v>3230</v>
                <v>175</v>
                <v>6228</v>
                <v>1574</v>
                <v>2820</v>
                <v>4457</v>
                <v>4296</v>
                <v>5940</v>
                <v>2034</v>
                <v>2512</v>
                <v>255</v>
                <v>1833</v>
                <v>2513</v>
                <v>7401</v>
                <v>3861</v>
                <v>554</v>
                <v>3169</v>
                <v>2086</v>
                <v>5416</v>
                <v>5858</v>
                <v>7499</v>
                <v>5198</v>
                <v>7273</v>
                <v>3212</v>
                <v>2124</v>
                <v>448</v>
                <v>6112</v>
                <v>2186</v>
                <v>5683</v>
                <v>1271</v>
                <v>3624</v>
                <v>4453</v>
                <v>6436</v>
                <v>5509</v>
                <v>2189</v>
                <v>4078</v>
                <v>7355</v>
                <v>5428</v>
                <v>7119</v>
                <v>1111</v>
                <v>4733</v>
                <v>2575</v>
                <v>4955</v>
                <v>6701</v>
                <v>1992</v>
                <v>1939</v>
                <v>7251</v>
                <v>7301</v>
                <v>3594</v>
                <v>5141</v>
                <v>7044</v>
                <v>2831</v>
                <v>6253</v>
                <v>3561</v>
                <v>7434</v>
                <v>1568</v>
                <v>6030</v>
            </r>
        </roots>
		<param name="bliss_param_1">
			<q>7681</q>q>
			<n>256</n>
			<d>5</d>
			<p>480</p>
			<kappa>12</kappa>
			<b_inf>542</b_inf>
			<b_l2>5895184</b_l2>
			<nz1>140</nz1>
			<nz2>38</nz2>
			<pmax>17928</pmax>
			<sig>100.0</sig>
			<m>2.44</m>
		</param>
	</algorithm>
</safecrypto>


